main {
    display: grid;
    font-family: sans-serif;
    height: 100vh;
    grid-gap: 10px; 

    /*Especificar posicion de las areas*/
    grid-template-areas: 
        "header"
        "contenido"
        "izquierda"
        "derecha"
        "footer";
}

main > * {
    background-color: #ee2727;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media (min-width: 500px) { 
    main {
        grid-template-areas: 
        "header header header"
        "izquierda contenido derecha"
        "footer footer footer" ;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 2fr 5fr 1fr;
    }
}

/*Responsive (a partir de 800px)*/
@media (min-width: 800px) { 
    main {
        grid-template-areas: 
        "header header derecha"
        "izquierda contenido derecha"
        "footer footer derecha" ;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 2fr 5fr 1fr;
    }
}

/*Nombramos areas*/
header {
    grid-area: header;
}

aside:first-of-type {
    grid-area: izquierda;
}

article {
    grid-area: contenido;
}

aside:last-of-type {
    grid-area: derecha;
} 

footer {
    grid-area: footer;
}