main {
  display: grid;
  height: 100vh;
  grid-gap: 10px;
  /*Transformo el grid en columnas*/
  grid-template-columns: repeat(auto-fit, minmax(30px, auto));
}

/*Inicializamos el valor de los order*/
main > * { /*A cualquier decendente directo*/
  order: -1;
}

div {
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

div:nth-child(4) {
  background-color: purple;
  color: white;
  /*Por defecto el resto tiene order 0*/
  order: 1; /*Entonces aparece a la derecha*/
}
